@font-face {
    font-family: 'monR';
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'monB';
    src: url(fonts/Montserrat-Bold.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'monR';
}
#cube{
    width: 0;
    height: 0;
    overflow: scroll;
}
#imgContent{
    width: 100vw;
    height: 100vw;
    box-sizing: border-box;
    border: 1px solid lightgray;
}
.imgSelf{
    width: 100vw;
    height: 100vw;
    box-sizing: border-box;
    background-size: cover;
}
input[type="file"]{
    display: none;
}
label{
    width: 80px;
    text-align: center;
    height: 40px;
    background-color: rgb(96 221 255);
    border: 1px solid lightgray;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: bold;
    color: #525252;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}
.frfs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.frs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.w100{
    width: 100vw;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.fcc{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
button{
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 10px;
    font-weight: bold;
    color: #525252;
    background-color: #fafafa;
}
.ml10{
    margin-left: 10px;
}
.mt5{
    margin-top: 5px;
}
#plsWait{
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
}
#containerOne{
    position: absolute;
}
#containerTwo{
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: white;
    position: absolute;
    box-sizing: border-box;
}
.frc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.p12px{
    padding: 12px;
}
.pa{
    position: absolute;
}
#takePic{
    margin-left: calc(50vw - 43px);
    margin-top: calc(100vh - 105px);
}
#showVideo{
    width: 100vw;
    position: absolute;
    box-sizing: border-box;
    height: calc(100vh - 60px);
    object-fit: cover;
}
.wh0{
    width: 1px;
    height: 1px;
    overflow: scroll;
}
.dsn{
    display: none !important;
}
#mainVideo{
    width: 1280px;
    height: 720px;
}
canvas{
    width: 1280px;
    height: 720px;
}
#containerThree{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#fix{
    width: calc(100vw - 50px);
    height: 8px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    box-sizing:border-box;
}
#move{
    width: 0%;
    height: 8px;
    background-color: red;
    border-radius: 8px;
    box-sizing:border-box;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 500ms;
}
.mb{
    margin-bottom: 10px;
}
.mb5{
    margin-bottom: 5px;
}
.frfe{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.line{
    width: 30px;
    height: 2px;
    background-color: lightgray;
    position: absolute;
}
.tl25{
    top: 25px;
    right: 25px;
}
.rt1{
    transform: rotate(45deg);
}
.rt2{
    transform: rotate(-45deg);
}