.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent{
  width: 0;
  height: 0;
  overflow: scroll;
}
.frs{
  height: 40px;
  display: flex;
  margin-top: calc(100vh - 100px);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: absolute;
  width: 100vw;
}
.fcfs{
}
.dsn{
  display: none !important;
}
.rrrr{
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}
.frc{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.aic{
  align-items: center;
}
.container2{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: white;
}
.father{
  width: calc(100vw - 20px);
  height: 7px;
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}
.child{
  width: 0%;
  height: 7px;
  background-color: red;
  border-radius: 20px;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 500ms;
}
.fcfs{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#share{
  width:100px;
  height:40px;
  background-color:rgb(0,200,255);
  border:1px solid lightgray;
  border-radius:5px;
  margin-right:20px;
  margin-bottom:10px;
  font-weight:bold;
  color:white;
}
.frfe{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-end;
}
.frsb{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.wid100{
  width: 100vw;
}